mixin video()
    .videos__item 
        .videos__img 
            img(src="@img/videos-img.png", alt="")
            a(href="https://youtube.com").videos__img_pause 
                img(src="@img/videos-pause.svg", alt="")
        p.videos__p Камера на трассе в поселке Боровской курган

mixin videos()
    .videos.section 
        .videos__body.container 
            h2.videos__title.title_big Видео с Боровского кургана   
            p.videos__desc Видеобзоры Домбая и спуски с трасс за 2020-2021-2022 года, спуски по уровню подготовки
            .videos__content 
                +video
                +video
                +video
                +video
                +video
                +video
                +video
                +video 
                +video
                +video
                +video 

