.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    @include media(576){
        gap: 20px;
    }
    .card{
        width: calc(33.333% - 22px);
        @include media(992){
            width: calc(50% - 16px);
        }
        @include media(768){
            width: 100%;
        }
    }
}
.card{
    position: relative;
    width: max-content;
    box-shadow: 0px 8px 16px 0px #3031331A, 0px 0px 1px 0px #3031330D;
    width: 385px;
    display: flex;
    flex-direction: column;
    &:hover{
        .card__image-img{
            &_1{
                opacity: 0;
                visibility: hidden;
            }
            &_2{
                opacity: 1;
                visibility: visible;
            }
        }
        .card__title{
            color: var(--primary);
            text-decoration-line: underline;
        }
    }
    &__image{
        width: 100%;
        position: relative;
        padding-bottom: 100%;
        &-img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            &_1{
                opacity: 1;
                visibility: visible;
                transition: 300ms ease-out;
            }
            &_2{
                opacity: 0;
                visibility: hidden;
                transition: 300ms ease-out;
            }
        }
    }
    &__content{
        padding: 16px 15px 33.5px 11px;
        display: flex;
        flex-direction: column;
        row-gap: 17px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5px;
    }
    &__title{
        font-family: Oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
        color: #1F2937;
        transition: 300ms ease-out;
        @include media(576){
            font-size: 20px;
        }
    }
    &__action{
        position: relative;
    }
    &__button{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 4px;
        transition: 300ms ease-out;
        font-size: 16px;
        line-height: 150%;
        text-align: right;
        color: #2563EB;
        opacity: 0;
        visibility: hidden;
        &.active{
            opacity: 1;
            visibility: visible;
        }
        &-delete{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-name{
            font-size: 14px;
            line-height: 150%;
            color: #374151;
        }
        &-content{
            font-size: 14px;
            line-height: 150%;
            color: #374151;
        }
    }
    &__difficulty{
        display: flex;
        justify-content: flex-start;
        column-gap: 8px;
        &-item{
            background: #ccc;
            width: 16px;
            height: 16px;
            border-radius: 50%;
        }
        &_1{
            background: #111827;
        }
        &_2{
            background: #DC2626;
        }
        &_3{
            background: #059669;
        }
        &_4{
            background: #2563EB;
        }
    }
    &__abs{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    &__weather{
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 4px;
        background: #F97316;
        span{
            font-family: Oswald;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__rating{
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 4px;
        background: #DC2626;
        div, span{
            font-family: Oswald;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}