.search{
    height: 56px;
    max-width: 380px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__content{
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #F9FAFB;
        border: 1px solid #9CA3AF;
        padding-right: 16px;
        transition: 200ms ease;
        input{
            background: transparent;
            flex: 1 1 auto;
            padding: 0 16px;
            font-size: 16px;
            line-height: 120%;
            color: #374151;
            width: 100%;
        }
        &.active{
            opacity: 1;
            visibility: visible;
        }
    }
    &__toggle{
        svg{
            fill: var(--primary);
        }
    }
    &__list{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: max-content;
        padding-top: 4px;
        transition: 200ms ease;
        &.active{
            opacity: 1;
            visibility: visible;
        }
        &-content{
            list-style-type: none;
            border: 1px solid #9CA3AF;
            background: #FFFFFF;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 19.5px 0 13.5px 0;
            box-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 16px 24px rgba(48, 49, 51, 0.1);
        }
        &-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 7.5px 17px 7.5px 25px;
            &.active{
                background: #fbfbfb;
            }
        }
        &-name{
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            color: #374151; 
        }
        &-distance{
            font-family: Inter;
            font-size: 14px;
            line-height: 16px;
            color: #4B5563; 
        }
    }
}
.home{
    .search__toggle{
        svg{
            fill: #fff;
        }
    }
}