mixin cost()
    .cost.section 
        .cost__body.container 
            h2.cost__title.title Средняя стоимость инструкторов в Домбае
            .cost__content 
                .cost__item 
                    .cost__img 
                        img(src="@img/cost-icon.svg", alt="")
                    .cost__texts 
                        p.cost__subtitle Индивидуальное обучение
                        p.cost__price от 1500 рублей/час
                .cost__item 
                    .cost__img 
                        img(src="@img/cost-icon.svg", alt="")
                    .cost__texts 
                        p.cost__subtitle группа - 2 человека
                        p.cost__price от 1500 рублей/час
                .cost__item 
                    .cost__img 
                        img(src="@img/cost-icon.svg", alt="")
                    .cost__texts 
                        p.cost__subtitle группа - 4 человека
                        p.cost__price от 1500 рублей/час
                .cost__item 
                    .cost__img 
                        img(src="@img/cost-icon.svg", alt="")
                    .cost__texts 
                        p.cost__subtitle группа - 3 человека
                        p.cost__price от 1500 рублей/час
                .cost__item 
                    .cost__img 
                        img(src="@img/cost-icon.svg", alt="")
                    .cost__texts 
                        p.cost__subtitle группа - 5 человек и более
                        p.cost__price от 5000 рублей/час
            .cost__info 
                img(src="@img/cost-info.svg", alt="").cost__info-img
                p.cost__info-p Внимание! Стоимость является усредненной, для гарантированной цены пожалуйста заполните форму выше мы подберем инструктора под Ваши нужды!
