mixin why()
    .why.section 
        .why__body.container 
            h2.why__title.title почему люди доверяют нашим инструкторам
            .why__content 
                .why__item 
                    .why__img 
                        img(src="@img/why-img-1.svg", alt="")
                    p.why__subtitle Люди имеющие категории НЛИ
                .why__item 
                    .why__img 
                        img(src="@img/why-img-2.svg", alt="")
                    p.why__subtitle Люди которые имеют опыт более 2 лет
                .why__item 
                    .why__img 
                        img(src="@img/why-img-3.svg", alt="")
                    p.why__subtitle Люди уравновешенные и спокойные
                .why__item 
                    .why__img 
                        img(src="@img/why-img-4.svg", alt="")
                    p.why__subtitle Дают гарантию обучения
                .why__item 
                    .why__img 
                        img(src="@img/why-img-5.svg", alt="")
                    p.why__subtitle Обучение в рамках вашего бюджета    
                .why__item 
                    .why__img 
                        img(src="@img/why-img-6.svg", alt="")
                    p.why__subtitle Поставят на лыжи/сноуборд ребенка
                .why__item 
                    .why__img 
                        img(src="@img/why-img-7.svg", alt="")
                    p.why__subtitle Помогут подобрать экипировку
                .why__item 
                    .why__img 
                        img(src="@img/why-img-8.svg", alt="")
                    p.why__subtitle Окажут первую помощь при травмах
                