mixin acc()
    .acc 
        .acc__body.container.accordion-container
            .acc__item.accordion
                .acc__item-btn.accordion__button.active Как добраться до Домбая от Минеральных вод
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5032 28.3333C17.0602 28.3358 16.6344 28.1619 16.3199 27.8499C15.6664 27.2017 15.662 26.1465 16.3102 25.4929C16.3134 25.4897 16.3167 25.4865 16.3199 25.4833L21.8366 19.9999L16.5366 14.4833L16.5366 14.4833C15.8904 13.8332 15.8904 12.7833 16.5366 12.1333L16.5366 12.1333C17.1848 11.4797 18.24 11.4754 18.8936 12.1236C18.8968 12.1268 18.9 12.13 18.9032 12.1333L25.3366 18.7999L25.3366 18.7999C25.9718 19.448 25.9718 20.4852 25.3366 21.1333L18.6699 27.7999C18.3677 28.1262 17.9477 28.3183 17.5032 28.3333L17.5032 28.3333Z" fill="#2563EB"/>
                    </svg>
                .acc__item-content.accordion__content(style="display:block;")
                    .acc__row
                        .acc__col   
                            p.acc__p Для того чтобы добраться до горнолыжного склона в поселке Домбай Вам потребуется трансфер от города Минеральный воды, пожалуйста укажите Ваши контактные данные и даты в кототрые вам потребуется трансфер, и мы подберем для Вас проверенных перевозчиков
                            form(action="").acc__form.form 
                                .form__grid 
                                    .form__item
                                        label(for="name-1").form__label Как вас зовут
                                        input(type="text" required autocomplete="off").form__input#name-1
                                    .form__item
                                        label(for="tel-1").form__label Ваш телефон
                                        input(type="tel" required autocomplete="off").form__input#tel-1
                                    .form__item
                                        label(for="date1").form__label Удобная дата и время 
                                        input(type="datetime-local" required autocomplete="off").form__input#date1 
                                        .form__item-warning 
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12ZM12 7C12.5128 7 12.9355 7.38604 12.9933 7.88338L13 8V12C13 12.5523 12.5523 13 12 13C11.4872 13 11.0645 12.614 11.0067 12.1166L11 12V8C11 7.44772 11.4477 7 12 7ZM13.01 16C13.01 15.4477 12.5623 15 12.01 15L11.8834 15.0067C11.386 15.0645 11 15.4872 11 16C11 16.5523 11.4477 17 12 17L12.1266 16.9933C12.624 16.9355 13.01 16.5128 13.01 16Z" fill="#E11D48"/>
                                            </svg>
                                            span #[b Внимание:] время местное! 
                                    .form__item
                                        label(for="amount").form__label Сколько будет человек
                                        input(type="number" required min="1" max="100" autocomplete="off").form__input#amount
                                    .form__item.form__item_chk 
                                        input(type="checkbox", name="vesti" checked autocomplete="off")#vesti
                                        label(for="vesti") Нужно везти снаряжение 
                                    .form__item.form__item_chk  
                                        input(type="checkbox", name="vesti" checked autocomplete="off")#transfer
                                        label(for="transfer") Нужен обратный трансфер
                                button(type="submit").form__btn.form__item Найти трансфер
                        .acc__col 
                            .acc__img
                                img(src="@img/card-3.png", alt="" draggable="false" loading="lazy")
            .acc__item.accordion
                .acc__item-btn.accordion__button.active Билеты на самолет от Воронежа до Домбая
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5032 28.3333C17.0602 28.3358 16.6344 28.1619 16.3199 27.8499C15.6664 27.2017 15.662 26.1465 16.3102 25.4929C16.3134 25.4897 16.3167 25.4865 16.3199 25.4833L21.8366 19.9999L16.5366 14.4833L16.5366 14.4833C15.8904 13.8332 15.8904 12.7833 16.5366 12.1333L16.5366 12.1333C17.1848 11.4797 18.24 11.4754 18.8936 12.1236C18.8968 12.1268 18.9 12.13 18.9032 12.1333L25.3366 18.7999L25.3366 18.7999C25.9718 19.448 25.9718 20.4852 25.3366 21.1333L18.6699 27.7999C18.3677 28.1262 17.9477 28.3183 17.5032 28.3333L17.5032 28.3333Z" fill="#2563EB"/>
                    </svg>
                .acc__item-content.accordion__content
                    .acc__row
                        .acc__col   
                            p.acc__p Для того чтобы добраться до горнолыжного склона в поселке Домбай Вам потребуется трансфер от города Минеральный воды, пожалуйста укажите Ваши контактные данные и даты в кототрые вам потребуется трансфер, и мы подберем для Вас проверенных перевозчиков
                            form(action="").acc__form.form 
                                .form__grid 
                                    .form__item
                                        label(for="name-1").form__label Как вас зовут
                                        input(type="text" required autocomplete="off").form__input#name-1
                                    .form__item
                                        label(for="tel-1").form__label Ваш телефон
                                        input(type="tel" required autocomplete="off").form__input#tel-2
                                    .form__item
                                        label(for="date1").form__label Удобная дата и время 
                                        input(type="datetime-local" required autocomplete="off").form__input#date1 
                                        .form__item-warning 
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12ZM12 7C12.5128 7 12.9355 7.38604 12.9933 7.88338L13 8V12C13 12.5523 12.5523 13 12 13C11.4872 13 11.0645 12.614 11.0067 12.1166L11 12V8C11 7.44772 11.4477 7 12 7ZM13.01 16C13.01 15.4477 12.5623 15 12.01 15L11.8834 15.0067C11.386 15.0645 11 15.4872 11 16C11 16.5523 11.4477 17 12 17L12.1266 16.9933C12.624 16.9355 13.01 16.5128 13.01 16Z" fill="#E11D48"/>
                                            </svg>
                                            span #[b Внимание:] время местное! 
                                    .form__item
                                        label(for="amount").form__label Сколько будет человек
                                        input(type="number" required min="1" max="100" autocomplete="off").form__input#amount
                                    .form__item.form__item_chk 
                                        input(type="checkbox", name="vesti" checked autocomplete="off")#vesti
                                        label(for="vesti") Нужно везти снаряжение 
                                    .form__item.form__item_chk  
                                        input(type="checkbox", name="vesti" checked autocomplete="off")#transfer
                                        label(for="transfer") Нужен обратный трансфер
                                button(type="submit").form__btn.form__item Найти трансфер
                        .acc__col 
                            .acc__img
                                img(src="@img/card-3.png", alt="" draggable="false" loading="lazy")
            .acc__item.accordion
                .acc__item-btn.accordion__button.active Стоимость ЖД билетов от Воронежа до Домбая
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5032 28.3333C17.0602 28.3358 16.6344 28.1619 16.3199 27.8499C15.6664 27.2017 15.662 26.1465 16.3102 25.4929C16.3134 25.4897 16.3167 25.4865 16.3199 25.4833L21.8366 19.9999L16.5366 14.4833L16.5366 14.4833C15.8904 13.8332 15.8904 12.7833 16.5366 12.1333L16.5366 12.1333C17.1848 11.4797 18.24 11.4754 18.8936 12.1236C18.8968 12.1268 18.9 12.13 18.9032 12.1333L25.3366 18.7999L25.3366 18.7999C25.9718 19.448 25.9718 20.4852 25.3366 21.1333L18.6699 27.7999C18.3677 28.1262 17.9477 28.3183 17.5032 28.3333L17.5032 28.3333Z" fill="#2563EB"/>
                    </svg>
                .acc__item-content.accordion__content
                    .acc__row
                        .acc__col   
                            p.acc__p Для того чтобы добраться до горнолыжного склона в поселке Домбай Вам потребуется трансфер от города Минеральный воды, пожалуйста укажите Ваши контактные данные и даты в кототрые вам потребуется трансфер, и мы подберем для Вас проверенных перевозчиков
                            form(action="").acc__form.form 
                                .form__grid 
                                    .form__item
                                        label(for="name-1").form__label Как вас зовут
                                        input(type="text" required autocomplete="off").form__input#name-1
                                    .form__item
                                        label(for="tel-1").form__label Ваш телефон
                                        input(type="tel" required autocomplete="off").form__input#tel-3
                                    .form__item
                                        label(for="date1").form__label Удобная дата и время 
                                        input(type="datetime-local" required autocomplete="off").form__input#date1 
                                        .form__item-warning 
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12ZM12 7C12.5128 7 12.9355 7.38604 12.9933 7.88338L13 8V12C13 12.5523 12.5523 13 12 13C11.4872 13 11.0645 12.614 11.0067 12.1166L11 12V8C11 7.44772 11.4477 7 12 7ZM13.01 16C13.01 15.4477 12.5623 15 12.01 15L11.8834 15.0067C11.386 15.0645 11 15.4872 11 16C11 16.5523 11.4477 17 12 17L12.1266 16.9933C12.624 16.9355 13.01 16.5128 13.01 16Z" fill="#E11D48"/>
                                            </svg>
                                            span #[b Внимание:] время местное! 
                                    .form__item
                                        label(for="amount").form__label Сколько будет человек
                                        input(type="number" required min="1" max="100" autocomplete="off").form__input#amount
                                    .form__item.form__item_chk 
                                        input(type="checkbox", name="vesti" checked autocomplete="off")#vesti
                                        label(for="vesti") Нужно везти снаряжение 
                                    .form__item.form__item_chk 
                                        input(type="checkbox", name="vesti" checked autocomplete="off")#transfer 
                                        label(for="transfer") Нужен обратный трансфер 
                                button(type="submit").form__btn.form__item Найти трансфер 
                        .acc__col 
                            .acc__img 
                                img(src="@img/card-3.png", alt="" draggable="false" loading="lazy") 
            .acc__item.accordion 
                .acc__item-btn.accordion__button.active Как доехать на автомобиле от Воронежа до Домбая 
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5032 28.3333C17.0602 28.3358 16.6344 28.1619 16.3199 27.8499C15.6664 27.2017 15.662 26.1465 16.3102 25.4929C16.3134 25.4897 16.3167 25.4865 16.3199 25.4833L21.8366 19.9999L16.5366 14.4833L16.5366 14.4833C15.8904 13.8332 15.8904 12.7833 16.5366 12.1333L16.5366 12.1333C17.1848 11.4797 18.24 11.4754 18.8936 12.1236C18.8968 12.1268 18.9 12.13 18.9032 12.1333L25.3366 18.7999L25.3366 18.7999C25.9718 19.448 25.9718 20.4852 25.3366 21.1333L18.6699 27.7999C18.3677 28.1262 17.9477 28.3183 17.5032 28.3333L17.5032 28.3333Z" fill="#2563EB"/>
                    </svg> 
                .acc__item-content.accordion__content 
                    .acc__row 
                        .acc__col 
                            p.acc__p Для того чтобы добраться до горнолыжного склона в поселке Домбай Вам потребуется трансфер от города Минеральный воды, пожалуйста укажите Ваши контактные данные и даты в кототрые вам потребуется трансфер, и мы подберем для Вас проверенных перевозчиков
                            form(action="").acc__form.form 
                                .form__grid 
                                    .form__item
                                        label(for="name-1").form__label Как вас зовут
                                        input(type="text" required autocomplete="off").form__input#name-1
                                    .form__item
                                        label(for="tel-1").form__label Ваш телефон
                                        input(type="tel" required autocomplete="off").form__input#tel-1
                                    .form__item
                                        label(for="date1").form__label Удобная дата и время 
                                        input(type="datetime-local" required autocomplete="off").form__input#date1 
                                        .form__item-warning 
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12ZM12 7C12.5128 7 12.9355 7.38604 12.9933 7.88338L13 8V12C13 12.5523 12.5523 13 12 13C11.4872 13 11.0645 12.614 11.0067 12.1166L11 12V8C11 7.44772 11.4477 7 12 7ZM13.01 16C13.01 15.4477 12.5623 15 12.01 15L11.8834 15.0067C11.386 15.0645 11 15.4872 11 16C11 16.5523 11.4477 17 12 17L12.1266 16.9933C12.624 16.9355 13.01 16.5128 13.01 16Z" fill="#E11D48"/>
                                            </svg>
                                            span #[b Внимание:] время местное! 
                                    .form__item
                                        label(for="amount").form__label Сколько будет человек
                                        input(type="number" required min="1" max="100" autocomplete="off").form__input#amount
                                    .form__item.form__item_chk 
                                        input(type="checkbox", name="vesti" checked autocomplete="off")#vesti
                                        label(for="vesti") Нужно везти снаряжение 
                                    .form__item.form__item_chk  
                                        input(type="checkbox", name="vesti" checked autocomplete="off")#transfer
                                        label(for="transfer") Нужен обратный трансфер
                                button(type="submit").form__btn.form__item Найти трансфер
                        .acc__col 
                            .acc__img
                                img(src="@img/card-3.png", alt="" draggable="false" loading="lazy")
mixin acc-admin() 
    .acc 
        .acc__body.container
            .acc__item
                .acc__item-btn.active.editor__changer(data-name="H2" contenteditable="true") Как добраться до Домбая от Минеральных вод
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5032 28.3333C17.0602 28.3358 16.6344 28.1619 16.3199 27.8499C15.6664 27.2017 15.662 26.1465 16.3102 25.4929C16.3134 25.4897 16.3167 25.4865 16.3199 25.4833L21.8366 19.9999L16.5366 14.4833L16.5366 14.4833C15.8904 13.8332 15.8904 12.7833 16.5366 12.1333L16.5366 12.1333C17.1848 11.4797 18.24 11.4754 18.8936 12.1236C18.8968 12.1268 18.9 12.13 18.9032 12.1333L25.3366 18.7999L25.3366 18.7999C25.9718 19.448 25.9718 20.4852 25.3366 21.1333L18.6699 27.7999C18.3677 28.1262 17.9477 28.3183 17.5032 28.3333L17.5032 28.3333Z" fill="#2563EB"/>
                    </svg>
                .acc__item-content(style="display:block;")
                    .acc__row
                        .acc__col   
                            p.acc__p.editor__changer(data-name="Описание" contenteditable="true") Для того чтобы добраться до горнолыжного склона в поселке Домбай Вам потребуется трансфер от города Минеральный воды, пожалуйста укажите Ваши контактные данные и даты в кототрые вам потребуется трансфер, и мы подберем для Вас проверенных перевозчиков
                        .acc__col 
                            .acc__img 
                                img(src="@img/card-3.png", alt="" draggable="false" loading="lazy") 
                            .resort__slider-upload 
                                input(type="file") 
                                span Загрузить фото 

