mixin comfort()
    .comfort
        .comfort__body.container 
            h2.comfort__title.title удобства и услуги — боровской курган
            .comfort__content 
                .comfort__col 
                    .comfort__item 
                        .comfort__top 
                            .comfort__img 
                                img(src="@img/comfort-icon-1.svg", alt="" draggable="false" loading="lazy")
                            .comfort__texts 
                                p.comfort__subtitle Отели и инфраструктура
                                a(href="reviews.html").comfort__link (смотреть карту)
                        ul.comfort__list 
                            li.comfort__li Отели рядом с подъемниками 
                            li.comfort__li Есть недорогие отели с полным пансионом 
                            li.comfort__li Отели 5 звезд 
                            li.comfort__li СПА-комплексы 
                            li.comfort__info Отели рядом с подъемниками
                    .comfort__item 
                        .comfort__top 
                            .comfort__img 
                                img(src="@img/comfort-icon-5.svg", alt="" draggable="false" loading="lazy")
                            .comfort__texts 
                                p.comfort__subtitle Отели и инфраструктура
                                a(href="reviews.html").comfort__link (смотреть карту)
                        ul.comfort__list 
                            li.comfort__li Отели рядом с подъемниками 
                            li.comfort__li Есть недорогие отели с полным пансионом 
                            li.comfort__li Отели 5 звезд 
                            li.comfort__li СПА-комплексы 
                            li.comfort__li Отели с собственными подъемниками и трассами
                .comfort__col 
                    .comfort__item 
                        .comfort__top 
                            .comfort__img 
                                img(src="@img/comfort-icon-2.svg", alt="" draggable="false" loading="lazy")
                            .comfort__texts 
                                p.comfort__subtitle трассы и подъемники
                                a(href="reviews.html").comfort__link (смотреть трассы)
                        ul.comfort__list 
                            li.comfort__li Отели рядом с подъемниками 
                            li.comfort__li Есть недорогие отели с полным пансионом 
                            li.comfort__li Отели 5 звезд 
                            li.comfort__li СПА-комплексы 
                    .comfort__item 
                        .comfort__top 
                            .comfort__img 
                                img(src="@img/comfort-icon-6.svg", alt="" draggable="false" loading="lazy")
                            .comfort__texts 
                                p.comfort__subtitle трассы и подъемники
                                a(href="reviews.html").comfort__link (смотреть трассы)
                        ul.comfort__list 
                            li.comfort__li Отели рядом с подъемниками 
                            li.comfort__li Есть недорогие отели с полным пансионом 
                            li.comfort__li Отели 5 звезд 
                            li.comfort__li СПА-комплексы 
                            li.comfort__info Отели с собственными подъемниками и трассами 
                .comfort__col 
                    .comfort__item 
                        .comfort__top 
                            .comfort__img 
                                img(src="@img/comfort-icon-3.svg", alt="" draggable="false" loading="lazy")
                            .comfort__texts 
                                p.comfort__subtitle погода и сезонность
                        ul.comfort__list 
                            li.comfort__li Отели рядом с подъемниками 
                            li.comfort__li Есть недорогие отели с полным пансионом 
                            li.comfort__li Отели 5 звезд 
                    .comfort__item 
                        .comfort__top 
                            .comfort__img 
                                img(src="@img/comfort-icon-7.svg", alt="" draggable="false" loading="lazy")
                            .comfort__texts 
                                p.comfort__subtitle погода и сезонность
                        ul.comfort__list 
                            li.comfort__li Отели рядом с подъемниками 
                            li.comfort__li Есть недорогие отели с полным пансионом 
                            li.comfort__li Отели 5 звезд 
                            li.comfort__li СПА-комплексы 
                            li.comfort__info Есть вероятность схода лавин и участки с небезопасными тропами
                .comfort__col 
                    .comfort__item 
                        .comfort__top 
                            .comfort__img 
                                img(src="@img/comfort-icon-4.svg", alt="" draggable="false" loading="lazy")
                            .comfort__texts 
                                p.comfort__subtitle лыжи и спорт
                        ul.comfort__list 
                            li.comfort__li Отели рядом с подъемниками 
                            li.comfort__li Есть недорогие отели с полным пансионом 
                            li.comfort__li Отели 5 звезд 
                            li.comfort__li СПА-комплексы 
                            li.comfort__li Отели с собственными подъемниками и трассами
                    .comfort__item 
                        .comfort__top 
                            .comfort__img  
                                img(src="@img/comfort-icon-8.svg", alt="" draggable="false" loading="lazy")
                            .comfort__texts 
                                p.comfort__subtitle лыжи и спорт
                        ul.comfort__list 
                            li.comfort__li Отели рядом с подъемниками 
                            li.comfort__li Есть недорогие отели с полным пансионом 
                            li.comfort__li Отели 5 звезд 
                            li.comfort__li СПА-комплексы  
                            li.comfort__li Отели с собственными подъемниками и трассами 