mixin types()
    .types.section 
        .types__body.container  
            h2.types__title.title длина и типы трасс в домбае
            .types__content 
                .types__left    
                    .types__row 
                        p.types__p Черные
                        .types__progress 
                            .types__track.types__track_black 
                        p.types__desc 1 километров    
                    .types__row 
                        p.types__p Красные
                        .types__progress 
                            .types__track.types__track_red  
                        p.types__desc 2 километров    
                    .types__row 
                        p.types__p Синие
                        .types__progress 
                            .types__track.types__track_blue 
                        p.types__desc 1 километров   
                    .types__row 
                        p.types__p Зеленые
                        .types__progress 
                            .types__track.types__track_green 
                        p.types__desc 1 километров    
                    .types__row 
                        p.types__p Всего
                        .types__progress 
                            .types__track.types__track_gray 
                        p.types__desc 8 километров
                    .types__row 
                        p.types__p Сноупарк
                        p.types__desc Есть
                    .types__row 
                        p.types__p Сноупарк
                        p.types__desc Нет 
                .types__right 
                    .types__img 
                        img(src="@img/types-img.png", alt="")
