.reviews{
    &.bg{
        background: url('../img/reviews-bg.png') center / cover no-repeat;
        margin-bottom: 16px;
    }
    .swiper{
        overflow: hidden;
        padding: 15px;
        margin: -15px;
        &-wrapper{
            display: flex;
            width: max-content;
        }
    }
    &__title{
        margin-bottom: 0;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 33px;
        column-gap: 20px;
    }
    &__action{
        display: flex;
        justify-content: flex-end;
        column-gap: 5px;
        @include media(768){
            display: none;
        }
    }
    &__pagination{
        display: none !important;
        @include media(768){
            display: flex !important;
        }
    }
    &__grid{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        .review{
            width: calc(50% - 16px);
            @include media(992){
                width: 100%;
            }
        }
    }
    &__btn{
        margin-left: auto;
        margin-right: auto;
        background: var(--primary);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 240px;
        width: 100%;
        height: 40px;
        margin-top: 40px;
        column-gap: 8px;
    }
}
.review{
    box-shadow: 0px 2px 4px 0px #3031331A, 0px 0px 1px 0px #3031330D;
    padding: 32px 25px 23.5px 25px;
    transition: 300ms ease-out;
    background: #fff;
    &:hover{
        box-shadow: 0px 0 15px 0px #3031331A, 0px 0px 1px 0px #3031330D;
    }
    @include media(576){
        padding: 15px;
    }
    &__item{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        @include media(576){
            flex-direction: column;
        }
        &:not(:last-of-type){
            margin-bottom: 10px;
        }
        &-name{
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #374151;
            min-width: 92px;
            width: 92px;
        }
        &-body{
            font-size: 14px;
            line-height: 150%;
            color: #374151;
        }
    }
    &__meta{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 16px;
    }
    &__author{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 9px;
        &-img{
            min-width: 84px;
            width: 84px;
            height: 84px;
            @include media(576){
                min-width: 60px;
                width: 60px;
                height: 60px;
            }
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        &-name{
            font-family: Oswald;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 120%;
            color: #1F2937;
            margin-bottom: 13px;
            display: block;
            span{
                font-family: Oswald;
            }
        }
        &-stars{
            display: flex;
            justify-content: flex-start;
            column-gap: 4px;
            margin-bottom: 7px;
        }
    }
    &__date{
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        color: #9CA3AF;        
    }
    &__product{
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #1F2937;
        @include media(1200){
            display: none;
        }
        @include media(992){
            display: block;
        }
        @include media(768){
            display: none;
        }
    }
}