mixin item(title, num)
    a(href="#!").intro__items-item
        img(src=`@img/intro-img-${num}.png`, alt="" draggable="false" loading="lazy").intro__items-item-img
        p.intro__items-num 0#{num}
        h3.intro__items-title #{title}
            img(src="@img/icon-right-arrow.svg", alt="" draggable="false" loading="lazy")

mixin intro() 
    .intro 
        .intro__body.container 
            h1.intro__title 
                span мы нашли для тебя  
                span все #[b горнолыжные курорты]
                span мира 
            h2.intro__desc 126 горнолыжных курортов, более 45 683 отзывов, яболее 11 040 фотографий, полная стоимость скпипасов и подбор отелей для проживания у склонов!
            .intro__search 
                include ../search 
                +intro-search 
                .intro__search-recommends 
                    p.intro__search-recommends-p Недавно искали:
                    a(href="#!").intro__search-recommends-item Домбай 
                    a(href="#!").intro__search-recommends-item Роза Хутор 
                    a(href="#!").intro__search-recommends-item Чегет 
            .intro__items 
                .intro__items-content
                    +item('курорты сочи', 1)
                    +item('курорты кавказа', 2)
                    +item('курорты сибири', 3)
            .intro__img 
                img(src="@img/intro-img.png", alt="" draggable="false" loading="lazy")
                
