mixin breadcrumbs(...items)
    .breadcrumbs
        .breadcrumbs__list.container(itemscope itemtype="https://schema.org/BreadcrumbList")
            .breadcrumbs__icon(itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem").breadcrumbs__icon
                a(href="index.html" title="Главная" itemprop="item") 
                    meta(itemprop="name" content="Главная")
                    meta(itemprop="position" content=`1`)
                    img(src="@img/icon-home.svg", alt="" draggable="false" loading="lazy")
            each item, index in items 
                if index == 0
                    .breadcrumbs__item.first(itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem")
                        a(href="#!" itemprop="item").breadcrumbs__link
                            span(itemprop="name")= item 
                            meta(itemprop="position" content=`${index+2}`)
                else
                    .breadcrumbs__item(itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem")
                        a(href="#!" itemprop="item").breadcrumbs__link
                            span(itemprop="name")= item 
                            meta(itemprop="position" content=`${index+2}`)