mixin pagination()
    .pagination 
        .pagination__body.container 
            a(href="#!").pagination__item 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.362 16.9999C13.0898 16.9989 12.8298 16.887 12.642 16.6899L8.78195 12.6899H8.78195C8.40081 12.3011 8.40081 11.6788 8.78195 11.2899L12.782 7.28994C13.1741 6.89782 13.8098 6.89782 14.202 7.28994C14.5941 7.68206 14.5941 8.31782 14.202 8.70994L10.902 11.9999L14.082 15.2999C14.4697 15.69 14.4697 16.3199 14.082 16.7099C13.8908 16.8996 13.6312 17.0042 13.362 16.9999Z" fill="#9CA3AF"/>
                </svg>
            a(href="#!").pagination__item.active 1
            a(href="#!").pagination__item 2
            a(href="#!").pagination__item ...
            a(href="#!").pagination__item 5
            a(href="#!").pagination__item 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5019 16.9999C10.2361 17.0015 9.98061 16.8971 9.79189 16.7099C9.39977 16.321 9.39717 15.6878 9.78609 15.2957C9.78802 15.2938 9.78995 15.2919 9.79189 15.2899L13.1019 11.9999L9.92189 8.68993V8.68993C9.53417 8.29989 9.53417 7.66997 9.92189 7.27993L9.92189 7.27993C10.3108 6.88781 10.944 6.88521 11.3361 7.27413C11.338 7.27606 11.34 7.27799 11.3419 7.27993L15.2019 11.2799H15.2019C15.583 11.6688 15.583 12.2911 15.2019 12.6799L11.2019 16.6799C11.0206 16.8757 10.7686 16.9909 10.5019 16.9999L10.5019 16.9999Z" fill="#9CA3AF"/>
                </svg>