mixin star()
    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M17.5588 20.9999C17.3989 21.0006 17.2411 20.9629 17.0988 20.8899L11.9988 18.2199L6.89881 20.8899C6.40999 21.147 5.80534 20.9591 5.5483 20.4703C5.44499 20.2738 5.40998 20.0485 5.44881 19.8299L6.44881 14.1999L2.32881 10.1999H2.32881C2.06687 9.93854 1.9707 9.55386 2.07881 9.19994L2.07881 9.19994C2.19706 8.83737 2.51123 8.57361 2.88881 8.51994L8.58881 7.68994L11.0988 2.55994V2.55994C11.3395 2.06289 11.9376 1.8551 12.4347 2.09583C12.6372 2.19392 12.8007 2.35743 12.8988 2.55994L15.4388 7.67994L21.1388 8.50994C21.5164 8.56361 21.8306 8.82737 21.9488 9.18994C22.0569 9.54386 21.9608 9.92855 21.6988 10.1899L17.5788 14.1899L18.5788 19.8199C18.6517 20.2027 18.4956 20.593 18.1788 20.8199C17.9977 20.9468 17.7797 21.0101 17.5588 20.9999L17.5588 20.9999Z" fill="#F97316")


mixin review(img) 
    a(href="reviews.html").review.swiper-slide(itemprop="review" itemscope itemtype="https://schema.org/Review") 
        meta(itemprop="name" content="review") 
        .review__meta 
            .review__author 
                .review__author-img 
                    img(src=`@img/user-${img}.png`, alt="" draggable="false" loading="lazy") 
                .review__author-info
                    .review__author-name(itemprop="author" itemscope itemtype="https://schema.org/Person") 
                        span(itemprop="name") Константинопольский Контантин
                    .review__rating(itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating")
                        meta(itemprop="worstRating" content="1")
                        meta(itemprop="ratingValue" content="5")
                        meta(itemprop="bestRating" content="5")
                        .review__rating-stars 
                            +star 
                            +star 
                            +star 
                            +star 
                            +star 
                    span(itemprop="datePublished").review__date 25.02.2020
            span.review__product Курорт Роза Хутор  
        .review__body 
            .review__item
                span.review__item-name Плюсы:
                p.review__item-body Очень красивое место. Горы потрясающие, виды открывается очень живописные. Люди катаются, трассы не ругают, цены на прокат оборудования и услуги инструкторов адекватные. В кафе тоже можно поесть и не оставить все деньги мира.
            .review__item 
                span.review__item-name Минусы:
                p.review__item-body Курорт совершенно не развивают. Как приезжала 15 лет назад, так ничего не изменилось. Те же гостиницы, с тем же ремонтом. Пешеходные дорожки совсем (!!!) не чистят. А если чистят, то владельцы ларьков рядом со своим местом. Это просто невероятно. Если вы дошли до подъемника после снегопада и не убились - вы очень ловкий. К Якам на первом уровне могут подойти тоже только ловкие и смелые люди, так как спуска адекватного нет! Ты просто съезжаешь с горки или идёшь гуськом. Нет нормальных санузлов. Хотя это очень популярное место (так как не в каждом кафе есть туалет) и можно было сделать нормально, а не как на вокзале.
            .review__item 
                span.review__item-name Отзыв:
                p(itemprop="reviewBody").review__item-body Курорт очень популярный, но для туристов ничего не улучшается. Очень жаль. Все держится на хороших спусков для катания.


mixin reviews() 
    .reviews.section 
        .reviews__body.container 
            .reviews__header 
                h2.reviews__title.title отзывы о курортах 
                .reviews__action 
                    .reviews__prev.swiper-button-prev 
                    .reviews__next.swiper-button-next 
            .reviews__carousel.swiper 
                .swiper-wrapper 
                    +review(1) 
                    +review(2) 
                    +review(1) 
                    +review(2) 
            .reviews__pagination.swiper-pagination 
