mixin card()
    .news__item 
        a(href="new.html" title="new").news__item-img
            img(src="@img/card-1.png", alt="" draggable="false" loading="lazy")
        .news__item-content 
            a(href="new.html").news__item-title
                h2 Как подобрать сноуборд под вес даже толстого человека
            a(href="new.html").news__item-row 
                p.news__item-date 25.02.2022
                .news__item-views 
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5794 7.66667C14.1527 6.92667 11.8061 3.21333 7.81939 3.33333C4.13273 3.42667 1.99939 6.66667 1.41939 7.66667C1.30031 7.87293 1.30031 8.12707 1.41939 8.33333C1.83939 9.06 4.08606 12.6667 8.01273 12.6667H8.17939C11.8661 12.5733 14.0061 9.33333 14.5794 8.33333C14.6985 8.12707 14.6985 7.87293 14.5794 7.66667ZM8.14518 11.3334C5.27185 11.4001 3.39852 8.94006 2.81185 8.00006C3.47852 6.92673 5.21852 4.73339 7.88518 4.66673C10.7452 4.59339 12.6252 7.06006 13.2185 8.00006C12.5318 9.07339 10.8118 11.2667 8.14518 11.3334ZM7.99939 5.66667C6.71073 5.66667 5.66606 6.71133 5.66606 8C5.66606 9.28867 6.71073 10.3333 7.99939 10.3333C9.28806 10.3333 10.3327 9.28867 10.3327 8C10.3327 6.71133 9.28806 5.66667 7.99939 5.66667ZM7.99939 9C7.44711 9 6.99939 8.55229 6.99939 8C6.99939 7.44772 7.44711 7 7.99939 7C8.55168 7 8.99939 7.44772 8.99939 8C8.99939 8.55229 8.55168 9 7.99939 9Z" fill="#6B7280"/>
                    </svg>
                    p 2 568
            a(href="new.html").news__item-desc Приезжала 15 лет назад, так ничего не изменилось. Те же гостиницы, с тем же ремонтом. Пешеходные дорожки совсем (!!!) не чистят. А если чистят...
            .news__item-tags 
                a(href="#!").news__item-tags-item #обучение  
                a(href="#!").news__item-tags-item #сноуборды
                a(href="#!").news__item-tags-item #полезное
                
