doctype html 
html(lang="ru") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        meta(name="description", content="Domain.com - это сервис агрегатор всех горнолыжных курортов мира, здесь вы сможете найти полную информацию о каждом горнолыжном склоне, его протяженность, количество красных, черных, синих трасс. Можно подобрать самый удобный отель рядом с  подъемником. Перед поездкой мы рекомендуем сразу найти хорошего инструктора по горным лыжам, это позволит Вам не нарваться на мошенников, в нашей базе более 772 проверенных инструкторов, просто подайте заявку и мы подберем для вас инструктора по горным лыжам или сноуборду. Также на нашем сайте вы можете найти трансфер от аэропортов до отелей. ") 
        link(rel="shortcut icon", href="@img/favicon.png", type="image/x-icon") 
        link(rel="stylesheet", href="css/style.min.css") 
        title Все горнолыжные курорты мира в одном месте 
    body 
        .wrapper 
            include components/header 
            +header-admin 
            main.main 
                .admin 
                    .admin__body.container 
                        .admin__header 
                            include components/search 
                            +katalog-search 
                            include components/filter 
                            +filter5
                        .admin__page
                            .admin__page-item 
                                .admin__page-input
                                    label(for="i-1") Название курорта
                                    input(type="text" value="Домбай")#i-1
                                .admin__page-right
                                    .admin__page-progress 
                                        span.admin__page-progress-title Степень заполнения
                                        span.red 35%
                                    a(href="editor.html").admin__page-btn Заполнить 
                            .admin__page-item 
                                .admin__page-input
                                    label(for="i-2") Название курорта
                                    input(type="text" value="Архыз")#i-2
                                .admin__page-right
                                    .admin__page-progress 
                                        span.admin__page-progress-title Степень заполнения
                                        span.red 35%
                                    a(href="editor.html").admin__page-btn Заполнить 
                            .admin__page-item 
                                .admin__page-input
                                    label(for="i-3") Название курорта
                                    input(type="text" value="Арбаотов")#i-3
                                .admin__page-right
                                    .admin__page-progress 
                                        span.admin__page-progress-title Степень заполнения
                                        span.red 35%
                                    a(href="editor.html").admin__page-btn Заполнить 
                            .admin__page-item 
                                .admin__page-input
                                    label(for="i-4") Название курорта
                                    input(type="text" value="Донгор")#i-4
                                .admin__page-right
                                    .admin__page-progress 
                                        span.admin__page-progress-title Степень заполнения
                                        span.red 35%
                                    a(href="editor.html").admin__page-btn Заполнить 
                            .admin__page-item 
                                .admin__page-input
                                    label(for="i-5") Название курорта
                                    input(type="text" value="Домбай")#i-5
                                .admin__page-right
                                    .admin__page-progress 
                                        span.admin__page-progress-title Степень заполнения
                                        span.red 35%
                                    a(href="editor.html").admin__page-btn Заполнить 
                            .admin__page-item 
                                .admin__page-input
                                    label(for="i-6") Название курорта
                                    input(type="text" value="Архыз")#i-6
                                .admin__page-right
                                    .admin__page-progress 
                                        span.admin__page-progress-title Степень заполнения
                                        span.red 35%
                                    a(href="editor.html").admin__page-btn Заполнить 
                            .admin__page-item 
                                .admin__page-input
                                    label(for="i-7") Название курорта
                                    input(type="text" value="Арбаотов")#i-7
                                .admin__page-right
                                    .admin__page-progress 
                                        span.admin__page-progress-title Степень заполнения
                                        span.red 35%
                                    a(href="editor.html").admin__page-btn Заполнить 
                            .admin__page-item 
                                .admin__page-input
                                    label(for="i-8") Название курорта
                                    input(type="text" value="Донгор")#i-8
                                .admin__page-right
                                    .admin__page-progress 
                                        span.admin__page-progress-title Степень заполнения
                                        span.red 35%
                                    a(href="editor.html").admin__page-btn Заполнить 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
        script(src="js/app.js") 