doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="@img/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="css/style.min.css")
        title Все горнолыжные курорты мира в одном месте
    body.home  
        .wrapper(itemscope itemtype="http://schema.org/Organization") 
            meta(itemprop="name" content="DOMAINF.COM") 
            meta(itemprop="address" content="Москва")
            div(itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" style="display: none")
                meta(itemprop="ratingValue" content="5")
                meta(itemprop="reviewCount" content="12986")
            include components/header 
            +header-home
            main.main
                include components/home/intro 
                +intro 
                include components/card 
                +popular 
                include components/home/blog  
                +blog
                include components/reviews  
                +reviews
            include components/footer 
            +footer-home 
        script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
        script(src="js/app.js")  