doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Domain.com - это сервис агрегатор всех горнолыжных курортов мира, здесь вы сможете найти полную информацию о каждом горнолыжном склоне, его протяженность, количество красных, черных, синих трасс. Можно подобрать самый удобный отель рядом с  подъемником. Перед поездкой мы рекомендуем сразу найти хорошего инструктора по горным лыжам, это позволит Вам не нарваться на мошенников, в нашей базе более 772 проверенных инструкторов, просто подайте заявку и мы подберем для вас инструктора по горным лыжам или сноуборду. Также на нашем сайте вы можете найти трансфер от аэропортов до отелей. ")
        link(rel="shortcut icon", href="@img/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="css/style.min.css")
        title Все горнолыжные курорты мира в одном месте
    body  
        .wrapper
            include components/header 
            +header
            main.main   
                include components/breadcrumbs 
                +breadcrumbs(4, 'Курорты', 'Северный Кавказ', 'Россия', 'Домбай')
                .katalog    
                    .katalog__body.container.accordion-container
                        .katalog__sidebar.accordion 
                            p.katalog__sidebar-title.accordion__button.active Поиск по курортам
                            .accordion__content(style="display: block")
                                p.katalog__sidebar-subtitle Активные фильтры:
                                .katalog__sidebar-filter 
                                    button(type='button').katalog__sidebar-filter-item Россия 
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.94094 7.99996L11.8076 5.13996V5.13996C12.069 4.87854 12.069 4.4547 11.8076 4.19329C11.5462 3.93188 11.1223 3.93188 10.8609 4.19329L8.00094 7.05996L5.14094 4.19329L5.14094 4.19329C4.87952 3.93188 4.45568 3.93188 4.19427 4.19329C3.93285 4.45471 3.93285 4.87854 4.19427 5.13996V5.13996L7.06094 7.99996L4.19427 10.86V10.86C3.93285 11.1192 3.93112 11.5413 4.1904 11.8028C4.19169 11.8041 4.19298 11.8053 4.19427 11.8066H4.19427C4.45355 12.068 4.87566 12.0698 5.13707 11.8105C5.13836 11.8092 5.13965 11.8079 5.14093 11.8066L8.00093 8.93996L10.8609 11.8066V11.8066C11.1202 12.068 11.5423 12.0698 11.8037 11.8105C11.805 11.8092 11.8063 11.8079 11.8076 11.8066V11.8066C12.069 11.5473 12.0707 11.1252 11.8115 10.8638C11.8102 10.8625 11.8089 10.8612 11.8076 10.86L8.94094 7.99996Z" fill="#DC2626"/>
                                        </svg>
                                    button(type='button').katalog__sidebar-filter-item Воронежская область
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.94094 7.99996L11.8076 5.13996V5.13996C12.069 4.87854 12.069 4.4547 11.8076 4.19329C11.5462 3.93188 11.1223 3.93188 10.8609 4.19329L8.00094 7.05996L5.14094 4.19329L5.14094 4.19329C4.87952 3.93188 4.45568 3.93188 4.19427 4.19329C3.93285 4.45471 3.93285 4.87854 4.19427 5.13996V5.13996L7.06094 7.99996L4.19427 10.86V10.86C3.93285 11.1192 3.93112 11.5413 4.1904 11.8028C4.19169 11.8041 4.19298 11.8053 4.19427 11.8066H4.19427C4.45355 12.068 4.87566 12.0698 5.13707 11.8105C5.13836 11.8092 5.13965 11.8079 5.14093 11.8066L8.00093 8.93996L10.8609 11.8066V11.8066C11.1202 12.068 11.5423 12.0698 11.8037 11.8105C11.805 11.8092 11.8063 11.8079 11.8076 11.8066V11.8066C12.069 11.5473 12.0707 11.1252 11.8115 10.8638C11.8102 10.8625 11.8089 10.8612 11.8076 10.86L8.94094 7.99996Z" fill="#DC2626"/>
                                        </svg>
                                    button(type='button').katalog__sidebar-filter-item Апрель 
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.94094 7.99996L11.8076 5.13996V5.13996C12.069 4.87854 12.069 4.4547 11.8076 4.19329C11.5462 3.93188 11.1223 3.93188 10.8609 4.19329L8.00094 7.05996L5.14094 4.19329L5.14094 4.19329C4.87952 3.93188 4.45568 3.93188 4.19427 4.19329C3.93285 4.45471 3.93285 4.87854 4.19427 5.13996V5.13996L7.06094 7.99996L4.19427 10.86V10.86C3.93285 11.1192 3.93112 11.5413 4.1904 11.8028C4.19169 11.8041 4.19298 11.8053 4.19427 11.8066H4.19427C4.45355 12.068 4.87566 12.0698 5.13707 11.8105C5.13836 11.8092 5.13965 11.8079 5.14093 11.8066L8.00093 8.93996L10.8609 11.8066V11.8066C11.1202 12.068 11.5423 12.0698 11.8037 11.8105C11.805 11.8092 11.8063 11.8079 11.8076 11.8066V11.8066C12.069 11.5473 12.0707 11.1252 11.8115 10.8638C11.8102 10.8625 11.8089 10.8612 11.8076 10.86L8.94094 7.99996Z" fill="#DC2626"/>
                                        </svg>
                                    button(type='button').katalog__sidebar-filter-item Черные 
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.94094 7.99996L11.8076 5.13996V5.13996C12.069 4.87854 12.069 4.4547 11.8076 4.19329C11.5462 3.93188 11.1223 3.93188 10.8609 4.19329L8.00094 7.05996L5.14094 4.19329L5.14094 4.19329C4.87952 3.93188 4.45568 3.93188 4.19427 4.19329C3.93285 4.45471 3.93285 4.87854 4.19427 5.13996V5.13996L7.06094 7.99996L4.19427 10.86V10.86C3.93285 11.1192 3.93112 11.5413 4.1904 11.8028C4.19169 11.8041 4.19298 11.8053 4.19427 11.8066H4.19427C4.45355 12.068 4.87566 12.0698 5.13707 11.8105C5.13836 11.8092 5.13965 11.8079 5.14093 11.8066L8.00093 8.93996L10.8609 11.8066V11.8066C11.1202 12.068 11.5423 12.0698 11.8037 11.8105C11.805 11.8092 11.8063 11.8079 11.8076 11.8066V11.8066C12.069 11.5473 12.0707 11.1252 11.8115 10.8638C11.8102 10.8625 11.8089 10.8612 11.8076 10.86L8.94094 7.99996Z" fill="#DC2626"/>
                                        </svg>
                                    button(type='button').katalog__sidebar-filter-item Синие 
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.94094 7.99996L11.8076 5.13996V5.13996C12.069 4.87854 12.069 4.4547 11.8076 4.19329C11.5462 3.93188 11.1223 3.93188 10.8609 4.19329L8.00094 7.05996L5.14094 4.19329L5.14094 4.19329C4.87952 3.93188 4.45568 3.93188 4.19427 4.19329C3.93285 4.45471 3.93285 4.87854 4.19427 5.13996V5.13996L7.06094 7.99996L4.19427 10.86V10.86C3.93285 11.1192 3.93112 11.5413 4.1904 11.8028C4.19169 11.8041 4.19298 11.8053 4.19427 11.8066H4.19427C4.45355 12.068 4.87566 12.0698 5.13707 11.8105C5.13836 11.8092 5.13965 11.8079 5.14093 11.8066L8.00093 8.93996L10.8609 11.8066V11.8066C11.1202 12.068 11.5423 12.0698 11.8037 11.8105C11.805 11.8092 11.8063 11.8079 11.8076 11.8066V11.8066C12.069 11.5473 12.0707 11.1252 11.8115 10.8638C11.8102 10.8625 11.8089 10.8612 11.8076 10.86L8.94094 7.99996Z" fill="#DC2626"/>
                                        </svg>
                                button(type='button').katalog__sidebar-filter-reset Сбросить все фильтры 
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.94094 7.99996L11.8076 5.13996V5.13996C12.069 4.87854 12.069 4.4547 11.8076 4.19329C11.5462 3.93188 11.1223 3.93188 10.8609 4.19329L8.00094 7.05996L5.14094 4.19329L5.14094 4.19329C4.87952 3.93188 4.45568 3.93188 4.19427 4.19329C3.93285 4.45471 3.93285 4.87854 4.19427 5.13996V5.13996L7.06094 7.99996L4.19427 10.86V10.86C3.93285 11.1192 3.93112 11.5413 4.1904 11.8028C4.19169 11.8041 4.19298 11.8053 4.19427 11.8066H4.19427C4.45355 12.068 4.87566 12.0698 5.13707 11.8105C5.13836 11.8092 5.13965 11.8079 5.14093 11.8066L8.00093 8.93996L10.8609 11.8066V11.8066C11.1202 12.068 11.5423 12.0698 11.8037 11.8105C11.805 11.8092 11.8063 11.8079 11.8076 11.8066V11.8066C12.069 11.5473 12.0707 11.1252 11.8115 10.8638C11.8102 10.8625 11.8089 10.8612 11.8076 10.86L8.94094 7.99996Z" fill="#DC2626"/>
                                    </svg>
                                p.katalog__sidebar-subtitle Где планируете кататься:
                                .katalog__sidebar-item  
                                    p.katalog__sidebar-label Название курорта: 
                                    .intro__search
                                        include components/search 
                                        +katalog-search
                                .katalog__sidebar-item  
                                    p.katalog__sidebar-label Страна:
                                    include components/filter 
                                    +filter2 
                                .katalog__sidebar-item  
                                    p.katalog__sidebar-label Область:
                                    include components/filter 
                                    +filter3 
                                .katalog__sidebar-item  
                                    p.katalog__sidebar-label Период поездки:
                                    include components/filter 
                                    +filter4 
                                div
                                    p.katalog__sidebar-subtitle Интересуют трассы:
                                    .katalog__sidebar-chk 
                                        input(type="checkbox" checked)#black 
                                        label(for="black") Черные трассы 
                                    .katalog__sidebar-chk 
                                        input(type="checkbox")#red 
                                        label(for="red") Красные трассы 
                                    .katalog__sidebar-chk.disabled  
                                        input(type="checkbox" disabled checked)#green
                                        label(for="green") Зеленые трассы 
                                    .katalog__sidebar-chk 
                                        input(type="checkbox")#blue 
                                        label(for="blue") Синие трассы 
                                div
                                    p.katalog__sidebar-subtitle Особенности курортов:
                                    .katalog__sidebar-chk 
                                        input(type="checkbox" checked)#freeride
                                        label(for="freeride") Фрирайд
                                    .katalog__sidebar-chk 
                                        input(type="checkbox")#snoupark 
                                        label(for="snoupark") Сноупарк
                                button(type='button').katalog__sidebar-btn Поиск курорта
                                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5538 7.34132L10.0271 5.8177V5.81105C9.76048 5.54492 9.76048 5.12576 10.0271 4.86629C10.2871 4.60015 10.7071 4.60015 10.9738 4.86629L13.6405 7.5276C13.7977 7.6805 13.8599 7.89666 13.8269 8.10105C13.8013 8.27873 13.7047 8.43434 13.567 8.53803L10.9667 11.1331C10.84 11.2529 10.6667 11.326 10.4934 11.326L10.5 11.3334C10.32 11.3334 10.1467 11.2602 10.0267 11.1404C9.76002 10.8809 9.76002 10.4551 10.02 10.1956V10.189L11.5401 8.67197H3.83366C3.46033 8.67197 3.16699 8.37258 3.16699 8.00665C3.16699 7.63406 3.46033 7.34132 3.83366 7.34132H11.5538Z" fill="white"/>
                                    </svg>
                        include components/product
                        +product
            include components/footer 
            +footer 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
        script(src="js/app.js")  