doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Domain.com - это сервис агрегатор всех горнолыжных курортов мира, здесь вы сможете найти полную информацию о каждом горнолыжном склоне, его протяженность, количество красных, черных, синих трасс. Можно подобрать самый удобный отель рядом с  подъемником. Перед поездкой мы рекомендуем сразу найти хорошего инструктора по горным лыжам, это позволит Вам не нарваться на мошенников, в нашей базе более 772 проверенных инструкторов, просто подайте заявку и мы подберем для вас инструктора по горным лыжам или сноуборду. Также на нашем сайте вы можете найти трансфер от аэропортов до отелей. ")
        link(rel="shortcut icon", href="@img/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="css/style.min.css")
        title Все горнолыжные курорты мира в одном месте
    body  
        .wrapper 
            include components/header 
            +header
            main.main
                include components/breadcrumbs 
                +breadcrumbs(2, 'Статьи и Новости', 'Открытие горнолыжного курорта «Юрманка» в Новосибирской области перенесли')
                .news 
                    .news__body.container 
                        .news__row
                            .new__content 
                                .new__thumb 
                                    img(src="@img/new-thumb.png", alt="" draggable="false" loading="lazy")
                                h1.new__title.title_big Открытие горнолыжного курорта «Юрманка» в Новосибирской области перенесли 
                                .new__row 
                                    p.new__date 25.02.2022
                                    .new__right     
                                        .new__views 
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5794 7.66665C14.1527 6.92665 11.8061 3.21332 7.81939 3.33332C4.13273 3.42665 1.99939 6.66665 1.41939 7.66665C1.30031 7.87292 1.30031 8.12705 1.41939 8.33332C1.83939 9.05998 4.08606 12.6667 8.01273 12.6667H8.17939C11.8661 12.5733 14.0061 9.33332 14.5794 8.33332C14.6985 8.12705 14.6985 7.87292 14.5794 7.66665ZM8.14518 11.3334C5.27185 11.4 3.39852 8.94004 2.81185 8.00004C3.47852 6.92671 5.21852 4.73338 7.88518 4.66671C10.7452 4.59338 12.6252 7.06004 13.2185 8.00004C12.5318 9.07338 10.8118 11.2667 8.14518 11.3334ZM7.99939 5.66665C6.71073 5.66665 5.66606 6.71132 5.66606 7.99999C5.66606 9.28865 6.71073 10.3333 7.99939 10.3333C9.28806 10.3333 10.3327 9.28865 10.3327 7.99999C10.3327 6.71132 9.28806 5.66665 7.99939 5.66665ZM7.99939 8.99999C7.44711 8.99999 6.99939 8.55227 6.99939 7.99999C6.99939 7.4477 7.44711 6.99999 7.99939 6.99999C8.55168 6.99999 8.99939 7.4477 8.99939 7.99999C8.99939 8.55227 8.55168 8.99999 7.99939 8.99999Z" fill="#4B5563"/> 
                                            </svg>
                                            span 2 568 
                                        .new__rating 
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7065 14C11.5999 14.0004 11.4947 13.9753 11.3999 13.9266L7.99986 12.1466L4.59986 13.9266C4.27398 14.098 3.87088 13.9727 3.69952 13.6469C3.63064 13.5159 3.60731 13.3657 3.63319 13.22L4.29986 9.46664L1.55319 6.79997H1.55319C1.37856 6.62571 1.31445 6.36925 1.38653 6.13331L1.38653 6.13331C1.46535 5.89159 1.67481 5.71575 1.92653 5.67997L5.72653 5.12664L7.39986 1.70664V1.70664C7.56035 1.37527 7.95908 1.23674 8.29045 1.39723C8.42546 1.46262 8.53447 1.57163 8.59986 1.70664L10.2932 5.11997L14.0932 5.67331C14.3449 5.70908 14.5544 5.88492 14.6332 6.12664C14.7053 6.36258 14.6412 6.61904 14.4665 6.79331L11.7199 9.45997L12.3865 13.2133C12.4351 13.4685 12.331 13.7287 12.1199 13.88C11.9991 13.9646 11.8538 14.0068 11.7065 14L11.7065 14ZM8.00076 10.7333C8.10762 10.7306 8.21334 10.7559 8.30742 10.8067L10.8208 12.14L10.3408 9.33334C10.3029 9.11575 10.3753 8.89355 10.5341 8.74001L12.5341 6.78668L9.73409 6.37334C9.52584 6.33142 9.35004 6.19276 9.26076 6.00001L8.00076 3.50001L6.74076 6.00001C6.64286 6.19445 6.4562 6.32884 6.24076 6.36001L3.44076 6.77334L5.44076 8.72668C5.5995 8.88022 5.6719 9.10242 5.63409 9.32001L5.15409 12.0933L7.66742 10.76C7.77392 10.7204 7.88932 10.7112 8.00076 10.7333Z" fill="#4B5563"/> 
                                            </svg> 
                                            span 4.9 
                                .accordion-container.new__details
                                    .new__details-inner.accordion 
                                        button(type='button').new__details-btn.accordion__button.active Содержание
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.99983 10.5019V10.5019C6.99829 10.2361 7.10264 9.98061 7.28983 9.79189V9.79189C7.67875 9.39977 8.31191 9.39717 8.70403 9.78609C8.70597 9.78802 8.7079 9.78995 8.70983 9.79189L11.9998 13.1019L15.3098 9.92189L15.3098 9.92189C15.6999 9.53417 16.3298 9.53417 16.7198 9.92189L16.7198 9.92189C17.1119 10.3108 17.1145 10.944 16.7256 11.3361C16.7237 11.338 16.7218 11.34 16.7198 11.3419L12.7198 15.2019L12.7198 15.2019C12.331 15.583 11.7087 15.583 11.3198 15.2019L7.31983 11.2019V11.2019C7.12404 11.0206 7.00883 10.7686 6.99983 10.5019L6.99983 10.5019Z" fill="#1E40AF"/>
                                            </svg>
                                        .new__details-content.accordion__content(style="display: block")
                                            a(href="#!").new__details-link 1. Способы подготовки 
                                            a(href="#!").new__details-link 2. Использование доски
                                            a(href="#!").new__details-link 3. Трассы которые интересуют
                                            a(href="#!").new__details-link 4. Особенности
                                p.new__p Помните? Зина, ну......! Падения на склоне, как ни крути, периодически случаются. Катание на лыжах или сноуборде, к сожалению, не всегда предсказуемый процесс. Завалиться может даже опытный райдер. Вопрос в другом. Катался тут намедни в Домбае и на завершающем спуске в условиях плохой видимости неслабо разобрался на трассе. Хорошо так плечом приложился, знатно башню встряхнул, лыжи-палки раскидал, и лежу слушаю малиновый звон в голове.
                                h2.new__subtitle Заголовок третьего уровня
                                p.new__p Являясь всего лишь частью общей картины, интерактивные прототипы могут быть преданы социально-демократической анафеме. Принимая во внимание показатели успешности, экономическая повестка сегодняшнего дня не даёт нам иного выбора, кроме определения инновационных методов управления процессами. А также сторонники тоталитаризма в науке формируют глобальную экономическую сеть и при этом -  функционально разнесены на независимые элементы. В целом, конечно, убеждённость некоторых оппонентов не оставляет шанса для поставленных обществом задач. Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь способствует повышению качества анализа существующих паттернов поведения. Но многие известные личности смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Противоположная точка зрения подразумевает, что диаграммы связей представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть преданы социально-демократической анафеме. Противоположная точка зрения подразумевает, что явные.
                                .new__img 
                                    img(src="@img/new-thumb.png", alt="" draggable="false" loading="lazy")
                                    p.new__img-alt Подпись картинки 
                                .new__quote 
                                    p.new__quote-p Помните? Зина, ну......! Падения на склоне, как ни крути, периодически случаются. Катание на лыжах или сноуборде, к сожалению, не всегда предсказуемый процесс. Завалиться может даже опытный райдер. Вопрос в другом. Катался тут намедни в Домбае и на завершающем спуске в условиях плохой видимости неслабо разобрался на трассе. Хорошо так плечом приложился, знатно башню встряхнул, лыжи-палки раскидал, и лежу слушаю малиновый звон в голове.
                                .new__card 
                                    .new__card-img
                                        img(src="@img/card-1.png", alt="" draggable="false" loading="lazy")
                                    .new__card-content 
                                        p.new__card-title Как подобрать сноуборд под вес даже толстого человека
                                        .new__card-row 
                                            p.new__card-date 25.02.2022
                                            .new__card-views 
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5794 7.66662C14.1527 6.92662 11.8061 3.21329 7.81939 3.33329C4.13273 3.42662 1.99939 6.66662 1.41939 7.66662C1.30031 7.87289 1.30031 8.12702 1.41939 8.33329C1.83939 9.05995 4.08606 12.6666 8.01273 12.6666H8.17939C11.8661 12.5733 14.0061 9.33329 14.5794 8.33329C14.6985 8.12702 14.6985 7.87289 14.5794 7.66662ZM8.14518 11.3333C5.27185 11.4 3.39852 8.94001 2.81185 8.00001C3.47852 6.92668 5.21852 4.73335 7.88518 4.66668C10.7452 4.59335 12.6252 7.06001 13.2185 8.00001C12.5318 9.07335 10.8118 11.2667 8.14518 11.3333ZM7.99939 5.66662C6.71073 5.66662 5.66606 6.71129 5.66606 7.99995C5.66606 9.28862 6.71073 10.3333 7.99939 10.3333C9.28806 10.3333 10.3327 9.28862 10.3327 7.99995C10.3327 6.71129 9.28806 5.66662 7.99939 5.66662ZM7.99939 8.99996C7.44711 8.99996 6.99939 8.55224 6.99939 7.99996C6.99939 7.44767 7.44711 6.99996 7.99939 6.99996C8.55168 6.99996 8.99939 7.44767 8.99939 7.99996C8.99939 8.55224 8.55168 8.99996 7.99939 8.99996Z" fill="#6B7280"/>
                                                </svg>
                                                span 2 568
                                        p.new__card-p В частности, глубокий уровень погружения предоставляет широкие возможности для стандартных подходов. Как уже неоднократно упомянуто, тщательные исследования конкурентов в равной.
                                p.new__p Являясь всего лишь частью общей картины, интерактивные прототипы могут быть преданы социально-демократической анафеме. Принимая во внимание показатели успешности, экономическая повестка сегодняшнего дня не даёт нам иного выбора, кроме определения инновационных методов управления процессами. А также сторонники тоталитаризма в науке формируют глобальную экономическую сеть и при этом -  функционально разнесены на независимые элементы. В целом, конечно, убеждённость некоторых оппонентов не оставляет шанса для поставленных обществом задач. Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь способствует повышению качества анализа существующих паттернов поведения. Но многие известные личности смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Противоположная точка зрения подразумевает, что диаграммы связей представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть преданы социально-демократической анафеме. Противоположная точка зрения подразумевает, что явные.
                                .new__tags 
                                    a(href="#!").new__tags-item #обучение  
                                    a(href="#!").new__tags-item #сноуборды 
                                    a(href="#!").new__tags-item #полезное
                                .new__rate 
                                    p.new__rate-p Понравилась статья — оцените работу нашего автора:
                                    .new__rate-item 
                                        svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M23.4111 28C23.1979 28.0009 22.9875 27.9506 22.7978 27.8533L15.9978 24.2933L9.19777 27.8533C8.546 28.1961 7.73981 27.9455 7.39709 27.2938C7.25933 27.0318 7.21266 26.7314 7.26443 26.44L8.59776 18.9333L3.10443 13.6H3.10443C2.75517 13.2515 2.62694 12.7386 2.7711 12.2667L2.7711 12.2667C2.92876 11.7832 3.34766 11.4316 3.8511 11.36L11.4511 10.2533L14.7978 3.41334V3.41334C15.1187 2.7506 15.9162 2.47355 16.579 2.79453C16.849 2.9253 17.067 3.14332 17.1978 3.41334L20.5844 10.24L28.1844 11.3467C28.6879 11.4182 29.1068 11.7699 29.2644 12.2533C29.4086 12.7252 29.2804 13.2381 28.9311 13.5867L23.4378 18.92L24.7711 26.4267C24.8683 26.9371 24.6601 27.4574 24.2378 27.76C23.9963 27.9292 23.7056 28.0136 23.4111 28L23.4111 28Z")
                                        svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M23.4111 28C23.1979 28.0009 22.9875 27.9506 22.7978 27.8533L15.9978 24.2933L9.19777 27.8533C8.546 28.1961 7.73981 27.9455 7.39709 27.2938C7.25933 27.0318 7.21266 26.7314 7.26443 26.44L8.59776 18.9333L3.10443 13.6H3.10443C2.75517 13.2515 2.62694 12.7386 2.7711 12.2667L2.7711 12.2667C2.92876 11.7832 3.34766 11.4316 3.8511 11.36L11.4511 10.2533L14.7978 3.41334V3.41334C15.1187 2.7506 15.9162 2.47355 16.579 2.79453C16.849 2.9253 17.067 3.14332 17.1978 3.41334L20.5844 10.24L28.1844 11.3467C28.6879 11.4182 29.1068 11.7699 29.2644 12.2533C29.4086 12.7252 29.2804 13.2381 28.9311 13.5867L23.4378 18.92L24.7711 26.4267C24.8683 26.9371 24.6601 27.4574 24.2378 27.76C23.9963 27.9292 23.7056 28.0136 23.4111 28L23.4111 28Z")
                                        svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M23.4111 28C23.1979 28.0009 22.9875 27.9506 22.7978 27.8533L15.9978 24.2933L9.19777 27.8533C8.546 28.1961 7.73981 27.9455 7.39709 27.2938C7.25933 27.0318 7.21266 26.7314 7.26443 26.44L8.59776 18.9333L3.10443 13.6H3.10443C2.75517 13.2515 2.62694 12.7386 2.7711 12.2667L2.7711 12.2667C2.92876 11.7832 3.34766 11.4316 3.8511 11.36L11.4511 10.2533L14.7978 3.41334V3.41334C15.1187 2.7506 15.9162 2.47355 16.579 2.79453C16.849 2.9253 17.067 3.14332 17.1978 3.41334L20.5844 10.24L28.1844 11.3467C28.6879 11.4182 29.1068 11.7699 29.2644 12.2533C29.4086 12.7252 29.2804 13.2381 28.9311 13.5867L23.4378 18.92L24.7711 26.4267C24.8683 26.9371 24.6601 27.4574 24.2378 27.76C23.9963 27.9292 23.7056 28.0136 23.4111 28L23.4111 28Z")
                                        svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M23.4111 28C23.1979 28.0009 22.9875 27.9506 22.7978 27.8533L15.9978 24.2933L9.19777 27.8533C8.546 28.1961 7.73981 27.9455 7.39709 27.2938C7.25933 27.0318 7.21266 26.7314 7.26443 26.44L8.59776 18.9333L3.10443 13.6H3.10443C2.75517 13.2515 2.62694 12.7386 2.7711 12.2667L2.7711 12.2667C2.92876 11.7832 3.34766 11.4316 3.8511 11.36L11.4511 10.2533L14.7978 3.41334V3.41334C15.1187 2.7506 15.9162 2.47355 16.579 2.79453C16.849 2.9253 17.067 3.14332 17.1978 3.41334L20.5844 10.24L28.1844 11.3467C28.6879 11.4182 29.1068 11.7699 29.2644 12.2533C29.4086 12.7252 29.2804 13.2381 28.9311 13.5867L23.4378 18.92L24.7711 26.4267C24.8683 26.9371 24.6601 27.4574 24.2378 27.76C23.9963 27.9292 23.7056 28.0136 23.4111 28L23.4111 28Z")
                                        svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd" clip-rule="evenodd" d="M23.4111 28C23.1979 28.0009 22.9875 27.9506 22.7978 27.8533L15.9978 24.2933L9.19777 27.8533C8.546 28.1961 7.73981 27.9455 7.39709 27.2938C7.25933 27.0318 7.21266 26.7314 7.26443 26.44L8.59776 18.9333L3.10443 13.6H3.10443C2.75517 13.2515 2.62694 12.7386 2.7711 12.2667L2.7711 12.2667C2.92876 11.7832 3.34766 11.4316 3.8511 11.36L11.4511 10.2533L14.7978 3.41334V3.41334C15.1187 2.7506 15.9162 2.47355 16.579 2.79453C16.849 2.9253 17.067 3.14332 17.1978 3.41334L20.5844 10.24L28.1844 11.3467C28.6879 11.4182 29.1068 11.7699 29.2644 12.2533C29.4086 12.7252 29.2804 13.2381 28.9311 13.5867L23.4378 18.92L24.7711 26.4267C24.8683 26.9371 24.6601 27.4574 24.2378 27.76C23.9963 27.9292 23.7056 28.0136 23.4111 28L23.4111 28Z")
                                .new__author 
                                    .new__author-img 
                                        img(src="@img/author.png", alt="" draggable="false" loading="lazy")
                                    .new__author-info 
                                        p.new__author-name Елена Автонова
                                        p.new__author-job Сотрудник Domain.com
                                        p.new__author-bio На лыжах с 15 лет, рассказываю и подготавливаю юных лыжников к соревнованиям в свободное время
                            include components/news/sidebar 
                            +sidebar
                include components/home/blog  
                +blog2
            include components/footer 
            +footer 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
        script(src="js/app.js")  