doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Domain.com - это сервис агрегатор всех горнолыжных курортов мира, здесь вы сможете найти полную информацию о каждом горнолыжном склоне, его протяженность, количество красных, черных, синих трасс. Можно подобрать самый удобный отель рядом с  подъемником. Перед поездкой мы рекомендуем сразу найти хорошего инструктора по горным лыжам, это позволит Вам не нарваться на мошенников, в нашей базе более 772 проверенных инструкторов, просто подайте заявку и мы подберем для вас инструктора по горным лыжам или сноуборду. Также на нашем сайте вы можете найти трансфер от аэропортов до отелей. ")
        link(rel="shortcut icon", href="@img/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="css/style.min.css")
        title Все горнолыжные курорты мира в одном месте
    body  
        .wrapper
            include components/header 
            +header
            main.main   
                include components/breadcrumbs 
                +breadcrumbs(4, 'Курорты', 'Северный Кавказ', 'Россия', 'Домбай')
                include components/menu
                +menu(4)
                .preview 
                    .preview__row.container 
                        .preview__col
                            h1.preview__title.title_big отзывы о Горнолыжном курорте Боровской курган
                            .rating 
                                .rating__top 
                                    p.rating-num 4.9
                                    <svg width="152" height="24" viewBox="0 0 152 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5588 20.9999C17.3989 21.0006 17.2411 20.9629 17.0988 20.8899L11.9988 18.2199L6.89881 20.8899C6.40999 21.147 5.80534 20.9591 5.5483 20.4703C5.44499 20.2738 5.40998 20.0485 5.44881 19.8299L6.44881 14.1999L2.32881 10.1999H2.32881C2.06687 9.93854 1.9707 9.55386 2.07881 9.19994L2.07881 9.19994C2.19706 8.83737 2.51123 8.57361 2.88881 8.51994L8.58881 7.68994L11.0988 2.55994V2.55994C11.3395 2.06289 11.9376 1.8551 12.4347 2.09583C12.6372 2.19392 12.8007 2.35743 12.8988 2.55994L15.4388 7.67994L21.1388 8.50994C21.5164 8.56361 21.8306 8.82737 21.9488 9.18994C22.0569 9.54386 21.9608 9.92855 21.6988 10.1899L17.5788 14.1899L18.5788 19.8199C18.6517 20.2027 18.4956 20.593 18.1788 20.8199C17.9977 20.9468 17.7797 21.0101 17.5588 20.9999L17.5588 20.9999Z" fill="#D1D5DB"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M49.5588 20.9999C49.3989 21.0006 49.2411 20.9629 49.0988 20.8899L43.9988 18.2199L38.8988 20.8899C38.41 21.147 37.8053 20.9591 37.5483 20.4703C37.445 20.2738 37.41 20.0485 37.4488 19.8299L38.4488 14.1999L34.3288 10.1999H34.3288C34.0669 9.93854 33.9707 9.55386 34.0788 9.19994L34.0788 9.19994C34.1971 8.83737 34.5112 8.57361 34.8888 8.51994L40.5888 7.68994L43.0988 2.55994V2.55994C43.3395 2.06289 43.9376 1.8551 44.4347 2.09583C44.6372 2.19392 44.8007 2.35743 44.8988 2.55994L47.4388 7.67994L53.1388 8.50994C53.5164 8.56361 53.8306 8.82737 53.9488 9.18994C54.0569 9.54386 53.9608 9.92855 53.6988 10.1899L49.5788 14.1899L50.5788 19.8199C50.6517 20.2027 50.4956 20.593 50.1788 20.8199C49.9977 20.9468 49.7797 21.0101 49.5588 20.9999L49.5588 20.9999Z" fill="#D1D5DB"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M81.5588 20.9999C81.3989 21.0006 81.2411 20.9629 81.0988 20.8899L75.9988 18.2199L70.8988 20.8899C70.41 21.147 69.8053 20.9591 69.5483 20.4703C69.445 20.2738 69.41 20.0485 69.4488 19.8299L70.4488 14.1999L66.3288 10.1999H66.3288C66.0669 9.93854 65.9707 9.55386 66.0788 9.19994L66.0788 9.19994C66.1971 8.83737 66.5112 8.57361 66.8888 8.51994L72.5888 7.68994L75.0988 2.55994V2.55994C75.3395 2.06289 75.9376 1.8551 76.4347 2.09583C76.6372 2.19392 76.8007 2.35743 76.8988 2.55994L79.4388 7.67994L85.1388 8.50994C85.5164 8.56361 85.8306 8.82737 85.9488 9.18994C86.0569 9.54386 85.9608 9.92855 85.6988 10.1899L81.5788 14.1899L82.5788 19.8199C82.6517 20.2027 82.4956 20.593 82.1788 20.8199C81.9977 20.9468 81.7797 21.0101 81.5588 20.9999L81.5588 20.9999Z" fill="#D1D5DB"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M113.559 20.9999C113.399 21.0006 113.241 20.9629 113.099 20.8899L107.999 18.2199L102.899 20.8899C102.41 21.147 101.805 20.9591 101.548 20.4703C101.445 20.2738 101.41 20.0485 101.449 19.8299L102.449 14.1999L98.3288 10.1999H98.3288C98.0669 9.93854 97.9707 9.55386 98.0788 9.19994L98.0788 9.19994C98.1971 8.83737 98.5112 8.57361 98.8888 8.51994L104.589 7.68994L107.099 2.55994V2.55994C107.34 2.06289 107.938 1.8551 108.435 2.09583C108.637 2.19392 108.801 2.35743 108.899 2.55994L111.439 7.67994L117.139 8.50994C117.516 8.56361 117.831 8.82737 117.949 9.18994C118.057 9.54386 117.961 9.92855 117.699 10.1899L113.579 14.1899L114.579 19.8199C114.652 20.2027 114.496 20.593 114.179 20.8199C113.998 20.9468 113.78 21.0101 113.559 20.9999L113.559 20.9999Z" fill="#D1D5DB"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M145.559 20.9999C145.399 21.0006 145.241 20.9629 145.099 20.8899L139.999 18.2199L134.899 20.8899C134.41 21.147 133.805 20.9591 133.548 20.4703C133.445 20.2738 133.41 20.0485 133.449 19.8299L134.449 14.1999L130.329 10.1999H130.329C130.067 9.93854 129.971 9.55386 130.079 9.19994L130.079 9.19994C130.197 8.83737 130.511 8.57361 130.889 8.51994L136.589 7.68994L139.099 2.55994V2.55994C139.34 2.06289 139.938 1.8551 140.435 2.09583C140.637 2.19392 140.801 2.35743 140.899 2.55994L143.439 7.67994L149.139 8.50994C149.516 8.56361 149.831 8.82737 149.949 9.18994C150.057 9.54386 149.961 9.92855 149.699 10.1899L145.579 14.1899L146.579 19.8199C146.652 20.2027 146.496 20.593 146.179 20.8199C145.998 20.9468 145.78 21.0101 145.559 20.9999L145.559 20.9999Z" fill="#D1D5DB"/>
                                        <mask id="mask0_96_2120" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="152" height="24">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5588 20.9999C17.3989 21.0006 17.2411 20.9629 17.0988 20.8899L11.9988 18.2199L6.89881 20.8899C6.40999 21.147 5.80534 20.9591 5.5483 20.4703C5.44499 20.2738 5.40998 20.0485 5.44881 19.8299L6.44881 14.1999L2.32881 10.1999H2.32881C2.06687 9.93854 1.9707 9.55386 2.07881 9.19994L2.07881 9.19994C2.19706 8.83737 2.51123 8.57361 2.88881 8.51994L8.58881 7.68994L11.0988 2.55994V2.55994C11.3395 2.06289 11.9376 1.8551 12.4347 2.09583C12.6372 2.19392 12.8007 2.35743 12.8988 2.55994L15.4388 7.67994L21.1388 8.50994C21.5164 8.56361 21.8306 8.82737 21.9488 9.18994C22.0569 9.54386 21.9608 9.92855 21.6988 10.1899L17.5788 14.1899L18.5788 19.8199C18.6517 20.2027 18.4956 20.593 18.1788 20.8199C17.9977 20.9468 17.7797 21.0101 17.5588 20.9999L17.5588 20.9999Z" fill="#DC2626"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M49.5588 20.9999C49.3989 21.0006 49.2411 20.9629 49.0988 20.8899L43.9988 18.2199L38.8988 20.8899C38.41 21.147 37.8053 20.9591 37.5483 20.4703C37.445 20.2738 37.41 20.0485 37.4488 19.8299L38.4488 14.1999L34.3288 10.1999H34.3288C34.0669 9.93854 33.9707 9.55386 34.0788 9.19994L34.0788 9.19994C34.1971 8.83737 34.5112 8.57361 34.8888 8.51994L40.5888 7.68994L43.0988 2.55994V2.55994C43.3395 2.06289 43.9376 1.8551 44.4347 2.09583C44.6372 2.19392 44.8007 2.35743 44.8988 2.55994L47.4388 7.67994L53.1388 8.50994C53.5164 8.56361 53.8306 8.82737 53.9488 9.18994C54.0569 9.54386 53.9608 9.92855 53.6988 10.1899L49.5788 14.1899L50.5788 19.8199C50.6517 20.2027 50.4956 20.593 50.1788 20.8199C49.9977 20.9468 49.7797 21.0101 49.5588 20.9999L49.5588 20.9999Z" fill="#DC2626"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M81.5588 20.9999C81.3989 21.0006 81.2411 20.9629 81.0988 20.8899L75.9988 18.2199L70.8988 20.8899C70.41 21.147 69.8053 20.9591 69.5483 20.4703C69.445 20.2738 69.41 20.0485 69.4488 19.8299L70.4488 14.1999L66.3288 10.1999H66.3288C66.0669 9.93854 65.9707 9.55386 66.0788 9.19994L66.0788 9.19994C66.1971 8.83737 66.5112 8.57361 66.8888 8.51994L72.5888 7.68994L75.0988 2.55994V2.55994C75.3395 2.06289 75.9376 1.8551 76.4347 2.09583C76.6372 2.19392 76.8007 2.35743 76.8988 2.55994L79.4388 7.67994L85.1388 8.50994C85.5164 8.56361 85.8306 8.82737 85.9488 9.18994C86.0569 9.54386 85.9608 9.92855 85.6988 10.1899L81.5788 14.1899L82.5788 19.8199C82.6517 20.2027 82.4956 20.593 82.1788 20.8199C81.9977 20.9468 81.7797 21.0101 81.5588 20.9999L81.5588 20.9999Z" fill="#DC2626"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M113.559 20.9999C113.399 21.0006 113.241 20.9629 113.099 20.8899L107.999 18.2199L102.899 20.8899C102.41 21.147 101.805 20.9591 101.548 20.4703C101.445 20.2738 101.41 20.0485 101.449 19.8299L102.449 14.1999L98.3288 10.1999H98.3288C98.0669 9.93854 97.9707 9.55386 98.0788 9.19994L98.0788 9.19994C98.1971 8.83737 98.5112 8.57361 98.8888 8.51994L104.589 7.68994L107.099 2.55994V2.55994C107.34 2.06289 107.938 1.8551 108.435 2.09583C108.637 2.19392 108.801 2.35743 108.899 2.55994L111.439 7.67994L117.139 8.50994C117.516 8.56361 117.831 8.82737 117.949 9.18994C118.057 9.54386 117.961 9.92855 117.699 10.1899L113.579 14.1899L114.579 19.8199C114.652 20.2027 114.496 20.593 114.179 20.8199C113.998 20.9468 113.78 21.0101 113.559 20.9999L113.559 20.9999Z" fill="#DC2626"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M145.559 20.9999C145.399 21.0006 145.241 20.9629 145.099 20.8899L139.999 18.2199L134.899 20.8899C134.41 21.147 133.805 20.9591 133.548 20.4703C133.445 20.2738 133.41 20.0485 133.449 19.8299L134.449 14.1999L130.329 10.1999H130.329C130.067 9.93854 129.971 9.55386 130.079 9.19994L130.079 9.19994C130.197 8.83737 130.511 8.57361 130.889 8.51994L136.589 7.68994L139.099 2.55994V2.55994C139.34 2.06289 139.938 1.8551 140.435 2.09583C140.637 2.19392 140.801 2.35743 140.899 2.55994L143.439 7.67994L149.139 8.50994C149.516 8.56361 149.831 8.82737 149.949 9.18994C150.057 9.54386 149.961 9.92855 149.699 10.1899L145.579 14.1899L146.579 19.8199C146.652 20.2027 146.496 20.593 146.179 20.8199C145.998 20.9468 145.78 21.0101 145.559 20.9999L145.559 20.9999Z" fill="#DC2626"/>
                                        </mask>
                                        <g mask="url(#mask0_96_2120)">
                                        <rect x="-11" y="-1" width="154" height="29" fill="#F97316"/>
                                        </g>
                                    </svg>
                                    p.rating-amount 125 отзывов
                                .rating__bot
                                    .rating__item 
                                        p.rating__item-num 5
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5588 20.9999C17.3989 21.0006 17.2411 20.9629 17.0988 20.8899L11.9988 18.2199L6.89881 20.8899C6.40999 21.147 5.80534 20.9591 5.5483 20.4703C5.44499 20.2738 5.40998 20.0485 5.44881 19.8299L6.44881 14.1999L2.32881 10.1999H2.32881C2.06687 9.93854 1.9707 9.55386 2.07881 9.19994L2.07881 9.19994C2.19706 8.83737 2.51123 8.57361 2.88881 8.51994L8.58881 7.68994L11.0988 2.55994V2.55994C11.3395 2.06289 11.9376 1.8551 12.4347 2.09583C12.6372 2.19392 12.8007 2.35743 12.8988 2.55994L15.4388 7.67994L21.1388 8.50994C21.5164 8.56361 21.8306 8.82737 21.9488 9.18994C22.0569 9.54386 21.9608 9.92855 21.6988 10.1899L17.5788 14.1899L18.5788 19.8199C18.6517 20.2027 18.4956 20.593 18.1788 20.8199C17.9977 20.9468 17.7797 21.0101 17.5588 20.9999L17.5588 20.9999Z" fill="#F97316"/>
                                        </svg>
                                        .rating__item-progress 
                                            .rating__item-progress-track(style="width: 90%")
                                        p.rating__item-amout 105 
                                    .rating__item 
                                        p.rating__item-num 4
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5588 20.9999C17.3989 21.0006 17.2411 20.9629 17.0988 20.8899L11.9988 18.2199L6.89881 20.8899C6.40999 21.147 5.80534 20.9591 5.5483 20.4703C5.44499 20.2738 5.40998 20.0485 5.44881 19.8299L6.44881 14.1999L2.32881 10.1999H2.32881C2.06687 9.93854 1.9707 9.55386 2.07881 9.19994L2.07881 9.19994C2.19706 8.83737 2.51123 8.57361 2.88881 8.51994L8.58881 7.68994L11.0988 2.55994V2.55994C11.3395 2.06289 11.9376 1.8551 12.4347 2.09583C12.6372 2.19392 12.8007 2.35743 12.8988 2.55994L15.4388 7.67994L21.1388 8.50994C21.5164 8.56361 21.8306 8.82737 21.9488 9.18994C22.0569 9.54386 21.9608 9.92855 21.6988 10.1899L17.5788 14.1899L18.5788 19.8199C18.6517 20.2027 18.4956 20.593 18.1788 20.8199C17.9977 20.9468 17.7797 21.0101 17.5588 20.9999L17.5588 20.9999Z" fill="#F97316"/>
                                        </svg>
                                        .rating__item-progress 
                                            .rating__item-progress-track(style="width: 90%")
                                        p.rating__item-amout 105
                                    .rating__item 
                                        p.rating__item-num 3
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5588 20.9999C17.3989 21.0006 17.2411 20.9629 17.0988 20.8899L11.9988 18.2199L6.89881 20.8899C6.40999 21.147 5.80534 20.9591 5.5483 20.4703C5.44499 20.2738 5.40998 20.0485 5.44881 19.8299L6.44881 14.1999L2.32881 10.1999H2.32881C2.06687 9.93854 1.9707 9.55386 2.07881 9.19994L2.07881 9.19994C2.19706 8.83737 2.51123 8.57361 2.88881 8.51994L8.58881 7.68994L11.0988 2.55994V2.55994C11.3395 2.06289 11.9376 1.8551 12.4347 2.09583C12.6372 2.19392 12.8007 2.35743 12.8988 2.55994L15.4388 7.67994L21.1388 8.50994C21.5164 8.56361 21.8306 8.82737 21.9488 9.18994C22.0569 9.54386 21.9608 9.92855 21.6988 10.1899L17.5788 14.1899L18.5788 19.8199C18.6517 20.2027 18.4956 20.593 18.1788 20.8199C17.9977 20.9468 17.7797 21.0101 17.5588 20.9999L17.5588 20.9999Z" fill="#F97316"/>
                                        </svg>
                                        .rating__item-progress 
                                            .rating__item-progress-track(style="width: 40%")
                                        p.rating__item-amout 50
                                    .rating__item 
                                        p.rating__item-num 2
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5588 20.9999C17.3989 21.0006 17.2411 20.9629 17.0988 20.8899L11.9988 18.2199L6.89881 20.8899C6.40999 21.147 5.80534 20.9591 5.5483 20.4703C5.44499 20.2738 5.40998 20.0485 5.44881 19.8299L6.44881 14.1999L2.32881 10.1999H2.32881C2.06687 9.93854 1.9707 9.55386 2.07881 9.19994L2.07881 9.19994C2.19706 8.83737 2.51123 8.57361 2.88881 8.51994L8.58881 7.68994L11.0988 2.55994V2.55994C11.3395 2.06289 11.9376 1.8551 12.4347 2.09583C12.6372 2.19392 12.8007 2.35743 12.8988 2.55994L15.4388 7.67994L21.1388 8.50994C21.5164 8.56361 21.8306 8.82737 21.9488 9.18994C22.0569 9.54386 21.9608 9.92855 21.6988 10.1899L17.5788 14.1899L18.5788 19.8199C18.6517 20.2027 18.4956 20.593 18.1788 20.8199C17.9977 20.9468 17.7797 21.0101 17.5588 20.9999L17.5588 20.9999Z" fill="#F97316"/>
                                        </svg>
                                        .rating__item-progress 
                                            .rating__item-progress-track(style="width: 90%")
                                        p.rating__item-amout 105 
                                    .rating__item 
                                        p.rating__item-num 1
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5588 20.9999C17.3989 21.0006 17.2411 20.9629 17.0988 20.8899L11.9988 18.2199L6.89881 20.8899C6.40999 21.147 5.80534 20.9591 5.5483 20.4703C5.44499 20.2738 5.40998 20.0485 5.44881 19.8299L6.44881 14.1999L2.32881 10.1999H2.32881C2.06687 9.93854 1.9707 9.55386 2.07881 9.19994L2.07881 9.19994C2.19706 8.83737 2.51123 8.57361 2.88881 8.51994L8.58881 7.68994L11.0988 2.55994V2.55994C11.3395 2.06289 11.9376 1.8551 12.4347 2.09583C12.6372 2.19392 12.8007 2.35743 12.8988 2.55994L15.4388 7.67994L21.1388 8.50994C21.5164 8.56361 21.8306 8.82737 21.9488 9.18994C22.0569 9.54386 21.9608 9.92855 21.6988 10.1899L17.5788 14.1899L18.5788 19.8199C18.6517 20.2027 18.4956 20.593 18.1788 20.8199C17.9977 20.9468 17.7797 21.0101 17.5588 20.9999L17.5588 20.9999Z" fill="#F97316"/>
                                        </svg>
                                        .rating__item-progress 
                                            .rating__item-progress-track(style="width: 90%")
                                        p.rating__item-amout 105 
                        .preview__col
                            include components/icons 
                            +icons 
            include components/menu
            +menu2(4)
            include components/footer 
            +footer 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
        script(src="js/app.js")  